//layout vars
$container-width: 1170px;
$footer-height: 634px;

//colors
$light-gray: #727272;
$gray: #8e8c8c;
$dark-gray: #575153;
$aqua: #00c8c8;
$white: #fff;


//layout
@import "layout/adjustment";
@import "layout/font-awesome";
@import "layout/fonts";

//sections
@import "sections/header";
@import "sections/items";
@import "sections/lookbook";
@import "sections/footer";
@import "sections/brand-content";
@import "sections/local-stores";
@import "sections/product";
@import "sections/sign-up";
@import "sections/menu-burger";

// media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";